<div class="row">
    <div class="col-sm-3">
        <div class="logo">
            <a href="/"><img src="../static/images/logo.png"></a>
        </div>
    </div>
    <div class="col-sm-9">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/collection">Collection</a>
                    <a class="nav-item nav-link" href="/shoes">Shoes</a>
                    <a class="nav-item nav-link" href="/racing_boots">Racing Sh</a>
                    <a class="nav-item nav-link" href="/contact">Contact</a>
                    <a class="nav-item nav-link last" href="/shop"><img src="../static/images/search_icon.png"></a>
                    <a class="nav-item nav-link last" href="/maps"><i class="fas fa-globe-asia"></i></a> {% if session["username"] %}
                    <div class="dropdown">
                        <a class="nav-item nav-link last" href="" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">{{ session["username"] }}</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="top: 70%;left: 30px;">
                            <li><a class="dropdown-item" href="/product">Product</a></li>
                            <li><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout </a></li>
                        </ul>
                    </div>
                    {% else %}
                    <a class="nav-item nav-link last" href="/login"><i class="fas fa-user-shield"></i></a> {% endif %}
                </div>
            </div>
        </nav>
    </div>
</div>