<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>TRANG ĐĂNG KÍ</h1>
                <form action="/dangki" method="POST">
                    Nhập vào tên :
                    <input class="form-control" type="text" name="user_name">
                    Nhập vào mật khẩu:
                    <input class="form-control" type="text" name="pass_word">
                    <input class="btn btn-primary" type="submit" name="insert" value="Đăng kí">
                    <a href="/" class="btn btn-danger">Hủy</a>
                </form>
            </div>
        </div>
    </body>
</html>